body {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
  background-color: grey;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  margin: 5px;
  text-align: center;
}
button {
  margin: 5px;
  background-color: rgb(8, 220, 248);;
  color: black;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
}

button:hover {
  margin: 5px;
  background-color: rgb(255, 0, 179);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid rgb(15, 36, 224);
}
input {
    height: 20px;
    width: 300px;
}
select {
    height: 25px;
    width: 315px;
}
.estilo1 {
  background-color: rgb(250, 9, 178);
  height: 200px;
  width: 200px;
  border: 2px solid rgb(71, 8, 241);
}
.estilo2 {
  background-color: rgb(9, 222, 250);
  height: 250px;
  width: 250px;
  border: 2px solid rgb(71, 8, 241);
}
.estilo3 {
  background-color: rgb(37, 250, 9);
  height: 300px;
  width: 300px;
  border: 2px solid rgb(71, 8, 241);
}
.estilo4 {
  background-color: rgb(214, 250, 9);
  height: 350px;
  width: 350px;
  border: 2px solid rgb(71, 8, 241);
}
.estilo5 {
  background-color: rgb(235, 17, 10);
  height: 400px;
  width: 400px;
  border: 2px solid rgb(71, 8, 241);
}
.estiloAzul {
  background-color: blue;
  width: 300px;
  height: 150px;
}
.agradavel {
  background-color: rgb(8, 220, 248);
}
